@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #03045E;
    --secondary-color: #0077B6;
    --accent1-color: #00B4D8;
    --accent2-color: #CAF0F8;

    --heading-font: 'DM Serif Display', serif;
    --paragraph-font: 'Merriweather', serif;

    --nav-background-color: #03045E;
    --nav-link-color: #0077B6;
    --nav-hover-link-color: #00B4D8;
    --nav-hover-background-color: #CAF0F8;
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

h1, h2 {
    position: absolute;
    font-family: var(--heading-font);
    color: var(--primary-color);
}


article {
    position: absolute;
}

article img {
    float: right;
}

p {
    padding: 25px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.sociallinks {
    background-color: var(--nav-baclground-color);
    font-size: 1.2rem;
    display: flex;
}