@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #0077B6;
    max-width: 1000px;
    padding: 20px;
    background-color: var(--accent1-color);
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

nav {
    text-align: right;
}

main {
    max-width: 840px;
}

:root {
    --primary-color: #03045E;
    --secondary-color: #0077B6;
    --accent1-color: #00B4D8;
    --accent2-color: #CAF0F8;

    --heading-font: 'DM Serif Display', serif;
    --paragraph-font: 'Merriweather', serif;

    --nav-background-color: #03045E;
    --nav-link-color: black;
    --nav-hover-link-color: steelblue;
    --nav-hover-background-color: #CAF0F8;
}

h1, h2 {
    font-size: 2rem;
    font-family: var(--paragraph-font);
    text-align: center;
}

.hero article {
    font-size: 1rem;
    padding: 32px;
    margin: 32px;
}

.hero article img {
    float: right;
}

p {
    padding: 25px;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero img {
    display: block;
    width: 250px;
    height: auto;
    float: right;
}

.sociallinks {
    background-color: var(--nav-baclground-color);
    font-size: 1.2rem;
    display: flex;
}

.sociallinks:link, .socialinks:visited {
    color: var(--nav-link-color);
}

.sociallinks:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-baclground-color);
}

.sociallinks img {
    float: right;
	margin: 0 0 10px 15px;
	padding: 3px;
	width: 100px;
	height: auto;
}

.navigation {
    display: flex;
    list-style: none;
    margin: 50px;
    padding: 32px;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: var(--nav-background-color);
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: var(--nav-background-color);
    font-weight: 700;
    text-decoration: underline;
}

.adventure {
    display: grid;
    gap: 20px;
}

.adventure img {
    width: 300px;
    height: auto;
}

.history {
    position: relative;
    display: flex;
    padding: 32px;
    margin: 32px;
}

.history article {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.history img {
    display: block;
    width: 200px;
    height: auto;
}

.history h2 {
    font-size: 2rem;
    font-family: var(--paragraph-font);
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px darkblue;
    border-radius: 1rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.25rem;
    margin: 1rem;
    border: 1px steelblue;
    padding: 1rem;
}

label, input, button, textarea {
    font-family: DM Serif Display, Poppins, Merriweather;
}

label {
    text-align: center;
    padding-right: 1rem;
}

input, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #eee;
    border: none;
    border-radius: 0.25rem;
    padding: 1rem;
    font-size: 1rem;
}

button:hover {
    background-color: royalblue;
}

.workers {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 32px;
    margin: auto;
    border: 1px darkblue;
    border-radius: 1rem;
}

.workers img {
    display: block;
    width: 250px;
    height: auto;
}

.info p{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin: auto;
    border: 1px darkblue;
    border-radius: 1rem;
}

.info iframe {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: auto;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead {
    background-color: rgb(228 240 245);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  
.trip1 {
    position: relative;
    display: flex;
    padding: 32px;
    margin: 32px;
}

.trip1 img {
    display: block;
    width: 400px;
    height: auto;
}

.trip2 {
    position: relative;
    display: flex;
    padding: 32px;
    margin: 32px;
}

.trip2 img {
    display: block;
    width: 400px;
    height: auto;
}

.trip3 {
    position: relative;
    display: flex;
    padding: 32px;
    margin: 32px;
}

.trip3 img {
    display: block;
    width: 400px;
    height: auto;
}

a {
    text-align: center;
    padding: 25px;
}

.trip_examples {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
    position: relative;
}

.trip_examples img {
    width: 250px;
    height: auto;
    border: 1px solid var(--secondary-color);
    margin: 1rem;
}

.home img {
    width: 109%;
    height: auto;
}

.home h2 {
    position: absolute;
    left: 350px;
    top: 350px;
    background-color: var(--accent2-color);
    border: 4px solid var(--secondary-color);
}

body {
    background-color: var(--accent2-color);
}