@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #0077B6;
    max-width: 1000px;
    padding: 20px;
    background-color: var(--accent1-color);
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

nav {
    text-align: right;
}

main {
    max-width: 840px;
}

:root {
    --primary-color: #03045E;
    --secondary-color: #0077B6;
    --accent1-color: #00B4D8;
    --accent2-color: #CAF0F8;

    --heading-font: 'DM Serif Display', serif;
    --paragraph-font: 'Merriweather', serif;

    --nav-background-color: #03045E;
    --nav-link-color: black;
    --nav-hover-link-color: steelblue;
    --nav-hover-background-color: #CAF0F8;
}

h1 {
    font-size: 2rem;
    font-family: var(--paragraph-font);
    text-align: center;
}

.hero article {
    font-size: 1rem;
    padding: 32px;
    margin: 32px;
}

.hero article img {
    float: right;
}

p {
    padding: 25px;
}

.hero {
    position: relative;
    display: column;
}

.hero img {
    display: block;
    width: 250px;
    height: auto;
    float: right;
}

.sociallinks {
    background-color: var(--nav-baclground-color);
    font-size: 1.2rem;
    display: flex;
}

.sociallinks:link, .socialinks:visited {
    color: var(--nav-link-color);
}

.sociallinks:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-baclground-color);
}

.sociallinks img {
    float: right;
	margin: 0 0 10px 15px;
	padding: 3px;
	width: 100px;
	height: auto;
}

.navigation {
    display: flex;
    list-style: none;

}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: var(--nav-background-color);
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: var(--nav-background-color);
    font-weight: 700;
    text-decoration: underline;
}

.adventure {
    display: flex;
    flex-direction: grid;
    gap: 20px;
}

.adventure img {
    width: 300px;
    height: auto;
}

.history {
    position: relative;
    display: column;
    padding: 32px;
    margin: 32px;
}

.history article {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.history img {
    display: block;
    width: 200px;
    height: auto;
}

.history h2 {
    font-size: 2rem;
    font-family: var(--paragraph-font);
    text-align: center;
}